Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

docs: reorganize and prune docs, rename files, add build-launcher
  CHANGES.md
  SCORE-before.md
  docs/INSTALL.md
  docs/PHASE0-INVENTORY.md
  docs/README-buildkit.md
  docs/README-contributing.md
  docs/README-macos-cross-prereqs.md
  docs/README-macos-cross-validation.md
  docs/README-support.md
  docs/README-testing.md
  docs/README-toolexec.md
  docs/architecture/agents-openhands-opencode-plandex-phase0.md
  docs/ci-caching-and-sccache.md
  docs/support-matrix.md
  spec/aifo-coder-drop-ci-caching-of-rust-target-add-sscache-v1.spec
Due: none

fix: resolve and prefix unqualified images with registry
  src/docker.rs
  src/registry.rs
Due: build-rust-builder

fix: treat images without slash as unqualified in resolve_image
  src/registry.rs
Due: build-rust-builder

feat: add optional registry namespace for image resolution
  src/registry.rs
Due: build-rust-builder

feat: add mirror and agent image env overrides and log resolved image
  docs/INSTALL.md
  docs/README-contributing.md
  src/docker.rs
  src/main.rs
  src/registry.rs
Due: build-rust-builder

fix: warm up rust toolchain and avoid forcing stable in official images
  src/toolchain/env.rs
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: print CLI image override verbatim in logs
  src/main.rs
Due: build-rust-builder

style: break long warning string into two lines
  src/warnings.rs
Due: build-rust-builder

fix: merge warning strings so aifo_coder::paint receives 3 args
  src/warnings.rs
Due: build-rust-builder

fix: default agent image tag to release-<version>
  docs/INSTALL.md
  docs/README-contributing.md
  src/agent_images.rs
Due: build-rust-builder

feat: autodetect internal registry and use internal namespace env var
  docs/INSTALL.md
  docs/README-contributing.md
  src/agent_images.rs
  src/registry.rs
Due: build-rust-builder

fix: use rsplit().next() instead of split().last()
  src/registry.rs
Due: build-rust-builder

style: remove duplicate once_cell import and fix comment spacing
  src/toolchain/proxy.rs
Due: build-rust-builder

feat: auto-prompts docker login on auth-failed image pulls
  docs/INSTALL.md
  docs/README-contributing.md
  src/docker.rs
Due: build-rust-builder

style: compact formatting for docker login logging and error
  src/docker.rs
Due: build-rust-builder

fix: pass container runtime by reference to Command::new
  src/docker.rs
Due: build-rust-builder

feat: prefer locally tagged :latest agent image for real runs
  src/docker.rs
  src/main.rs
Due: build-rust-builder

fix: collapse nested else-if when determining image display
  src/main.rs
Due: build-rust-builder

style: remove leading space before doc comment
  src/docker.rs
Due: build-rust-builder

fix: silence docker image inspect output in image_exists_locally
  src/docker.rs
Due: build-rust-builder

ci: add buildx publish job to push multi-arch (amd64, arm64) images
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

fix: tag multiarch publish with release tag and verify images
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

chore: move publish-multiarch job later in GitLab CI config
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

ci: remove privileged from docker:dind service and add alias
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

chore: bump crate version to 0.6.4
  Cargo.toml
Due: build-rust-builder

fix: avoid npm cache-clean segfaults and auto-setup buildx builder
  Dockerfile
  Makefile
Due: build-rust-builder, lint-dockerfiles

fix: avoid npm segfault in Dockerfile by removing npm cleanup calls
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: harden Go build and remove npm cleanup to avoid QEMU crashes
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: build plandex-builder on build platform to avoid QEMU
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: prefer prebuilt cargo-nextest in Dockerfiles with fallback
  Dockerfile
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: prevent compiling cargo-nextest during multi-arch builds
  Makefile
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: remove apt lists cache and ensure CA dir in cpp Dockerfile
  toolchains/cpp/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: prevent shared /var/cache/apt mount and add apt retries
  toolchains/cpp/Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: support global/toolchain/CPP tag envs for image selection
  src/toolchain/images.rs
Due: build-rust-builder

feat: prefer local images and add tag/registry env fallbacks
  src/agent_images.rs
Due: build-rust-builder

feat: apply AIFO_GLOBAL_TAG to images/toolchains; prefer local images
  src/agent_images.rs
  src/toolchain/images.rs
Due: build-rust-builder

fix: do not override explicit toolchain version with global tag
  src/toolchain/images.rs
Due: build-rust-builder

fix: import container_runtime_path from aifo_coder crate
  src/agent_images.rs
Due: build-rust-builder

style: group crate::container_runtime_path import with std uses
  src/toolchain/images.rs
Due: build-rust-builder

chore: remove deprecated AIFO_GLOBAL_TAG notice comment
  src/main.rs
Due: build-rust-builder

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
