Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml

feat: stop supporting AIFO_GLOBAL_TAG, use AIFO_TAG instead
  src/agent_images.rs
  src/main.rs
  src/toolchain/images.rs
Due: build-rust-builder

fix: prefer local toolchain images and resolve unqualified images
  src/toolchain/images.rs
Due: build-rust-builder

feat: show coding agent and toolchain image lines in --verbose
  src/main.rs
  src/toolchain_session.rs
Due: build-rust-builder

refactor: avoid qualifying explicit version toolchain images
  src/toolchain/images.rs
Due: build-rust-builder

fix: change //// to /// in images.rs doc comment
  src/toolchain/images.rs
Due: build-rust-builder

test: update image override assertion to verbose agent message
  tests/int_cli_image_override.rs
Due: none

style: rename "coding agent image" log message to "agent image"
  src/main.rs
Due: build-rust-builder

fix: mark mirror registry source as cache when read from disk
  src/registry.rs
Due: build-rust-builder

style: collapse format! call into single line
  src/main.rs
Due: build-rust-builder

style: format image and tag extraction code for readability
  src/main.rs
Due: build-rust-builder

fix: honor AIFO_TAG/AIFO_CODER_IMAGE_TAG when resolving agent images
  src/main.rs
Due: build-rust-builder

fix: prefer local :latest only for release-<pkg-version> or latest tags
  src/docker.rs
Due: build-rust-builder

style: reformat AIFO_TAG env check and match brace placement
  src/main.rs
Due: build-rust-builder

fix: prefer local :latest for agents and show autodetected registry
  src/main.rs
Due: build-rust-builder

feat: stream docker pull when verbose and log a short notice when quiet
  src/docker.rs
  src/main.rs
Due: build-rust-builder

fix: notify when pulling toolchain images in non-verbose mode
  src/toolchain_session.rs
Due: build-rust-builder

feat: include agent name in non-verbose docker pull notices
  src/docker.rs
Due: build-rust-builder

style: compact formatting in docker image pull/login code
  src/docker.rs
Due: build-rust-builder

fix: use std::io::Error::other and drop needless return
  src/docker.rs
Due: build-rust-builder

test: ignore registry prefix when asserting default rust toolchain image
  tests/int_default_image_regression.rs
Due: none

test: add spec for aifo-coder refactor config mount bind v1
  spec/aifo-coder-refactor-config-mount-bind-for-cloned-files-v1.spec
Due: none

docs: add spec to refactor config mounts to cloned read-only copies
  spec/aifo-coder-refactor-config-mount-bind-for-cloned-files-v1.spec
Due: none

refactor: remove direct bind-mounts for aider root config files
  src/docker.rs
Due: build-rust-builder

feat: implement Phase 1 config clone (entrypoint copy + agent mount)
  Dockerfile
  src/docker.rs
Due: build-rust-builder, lint-dockerfiles

test: expect AIFO_CONFIG_HOST_DIR mount in preview
  tests/int_preview_mounts.rs
Due: none

fix: skip symlinks when copying host config files in entrypoint
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

docs: document Phase 2 schema consolidation and migration notes
  spec/aifo-coder-refactor-config-mount-bind-for-cloned-files-v1.spec
Due: none

refactor: use path_pair for config-host mount
  src/docker.rs
Due: build-rust-builder

style: reformat env string and path checks for readability
  src/docker.rs
Due: build-rust-builder

feat: skip config copy when up-to-date using .copied stamp
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: add verbose skip logging for config file installation
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: add integration tests for config env passthrough and mount absence
  tests/int_config_env_passthrough.rs
  tests/int_config_mount_absence.rs
Due: none

test: add e2e config copy policy and concurrency tests
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
Due: none

fix: replace |_| with || in tests' unwrap_or_else calls
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
Due: none

style: reformat tests by wrapping long args and reflowing calls
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_macos_cross.rs
Due: none

style: compact TAG env var fallback into single line
  tests/e2e_config_copy_policy.rs
Due: none

test: add runtime missing-host-dir test and assert Aider bridge
  tests/e2e_config_concurrency.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: none

fix: avoid forcing RUSTUP_TOOLCHAIN on official images
  src/toolchain/env.rs
Due: build-rust-builder

test: accept quoted or unquoted AIFO_CONFIG_ALLOW_EXT in preview
  tests/int_config_env_passthrough.rs
Due: none

fix: use /bin/sh -c when executing commands
  src/toolchain/routing.rs
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: build-rust-builder
