Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

fix: prefer venv console script and detect openhands.agent_server
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use uv Python 3.12 and pin openhands via @version
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: map AIFO_API_* into OpenHands and litellm envs
  Dockerfile
  src/docker.rs
Due: build-rust-builder, lint-dockerfiles

fix: create Jinja2 cache dir in Dockerfile to prevent permission error
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: generate aifo-entrypoint with single-quoted heredoc and sed -i
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: make aifo-entrypoint executable using RUN in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: set WITH_PLAYWRIGHT default to 1 in Makefile
  Makefile
Due: none

chore: add renovate.json config
  renovate.json
Due: none

chore: improve Renovate config: presets, cargo/gha automerge, lockfile
  renovate.json
Due: none

chore: bump container build component to v0.18.0
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

feat: support versioned c-cpp toolchain image
  src/toolchain/images.rs
  tests/unit_toolchain_mappings.rs
Due: build-rust-builder

fix: silence strip errors for /usr/local/bin/plandex
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: make plandex-slim RUN a single sh -lc shell to satisfy hadolint
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: split plandex-slim RUN into two RUNs to fix hadolint
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

refactor: combine plandex-slim RUNs into single sh -lc 'set -e'
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

chore: add echo title to unit test and silence cargo clippy with -q
  AGENT.md
  Dockerfile
  Makefile
Due: build-rust-builder, lint-dockerfiles

ci: require APPLE_SDK env and enable on_success for tag/schedule jobs
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

fix: respect AIFO_TAG for agent images and avoid local :latest fallback
  src/docker.rs
Due: build-rust-builder

style: collapse allow_local_latest condition into one line
  src/docker.rs
Due: build-rust-builder

fix: remove macOS cross rust-builder stage from root Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

chore: disable multi-arch publish in GitLab CI (no DinD)
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

docs: add AIFO coder architecture 4K image
  images/aifo-coder-architecture-4k.jpg
Due: none

fix: default toolchain images to release-<ver> and prefer local :latest
  src/toolchain/images.rs
Due: build-rust-builder

fix: replace //// with /// for env_trim doc comment
  src/toolchain/images.rs
Due: build-rust-builder

style: remove leading space before env_trim doc comment
  src/toolchain/images.rs
Due: build-rust-builder

test: add unit and ignored integration tests for image resolution
  tests/unit_toolchain_image_resolver.rs
  tests/unit_toolchain_local_latest.rs
Due: none

docs: mark docker-dependent test as intended for int_ test module
  tests/unit_toolchain_local_latest.rs
Due: none

test: add ignored integration tests preferring local :latest images
  tests/int_toolchain_local_latest.rs
Due: none

test: rename integration_* tests to int_* to satisfy naming lint
  tests/int_toolchain_local_latest.rs
Due: none

fix: allow tests to skip Docker and compare image basename
  src/docker.rs
  tests/unit_toolchain_image_resolver.rs
Due: build-rust-builder

test: make agent image resolver tests robust to registry prefixes
  tests/unit_toolchain_image_resolver.rs
Due: none

test: remove local-latest integration tests and reformat docker/test code
  src/docker.rs
  tests/unit_toolchain_image_resolver.rs
  tests/unit_toolchain_local_latest.rs
Due: build-rust-builder

chore: update CI container build component to 0.18
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

test: isolate HOME in notification tests to avoid touching user config
  tests/int_notifications_exec_policy_error.rs
  tests/int_notifications_exec_spawn_error_500.rs
Due: none

fix: prefer local :latest/:release images and try Docker Hub fallback
  src/docker.rs
  src/toolchain/images.rs
Due: build-rust-builder

fix: return error when verbose docker pull attempts fail
  src/docker.rs
Due: build-rust-builder

style: trim extra blank lines in docker and toolchain files
  src/docker.rs
  src/toolchain/images.rs
Due: build-rust-builder

style: format base image parsing for readability
  src/docker.rs
Due: build-rust-builder

fix: remove unused image helper functions and eliminate needless returns
  src/docker.rs
  src/toolchain/images.rs
Due: build-rust-builder

docs: add README about coding-agent security issues
  docs/README-coding-agent-security-issues.md
Due: none

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
