Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

build: centralize toolchain image vars and add toolchain tags
  Makefile
Due: none

fix: print build message for cpp toolchain and add bun shim
  Dockerfile
  Makefile
Due: build-rust-builder, lint-dockerfiles

style: clarify explicit CLI image handling in main.rs
  src/main.rs
Due: build-rust-builder

chore: set AIDER_SOURCE default to release
  Makefile
Due: none

fix: honor explicit --image in docker run (don't rewrite it)
  src/docker.rs
Due: build-rust-builder

test: add Docker integration tests for aider mcpm enable/disable
  tests/int_docker_aider_mcpm.rs
Due: none

feat: add optional mcpm-aider install to Aider image and docker tests
  Dockerfile
  tests/docker_aider_mcpm.rs
Due: build-rust-builder, lint-dockerfiles

fix: rename tests to int_ prefix and silence hadolint SC2016
  Dockerfile
  tests/int_docker_aider_mcpm.rs
Due: build-rust-builder, lint-dockerfiles

fix: replace single-quoted heredocs with printf to fix Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: remove docker_aider_mcpm.rs integration tests
  tests/docker_aider_mcpm.rs
Due: none

fix: use literal heredoc and guard node removal in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: avoid heredoc in Dockerfile RUN by using python -c
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: swap here-doc to printf for mcpm-aider in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use <<'SH' heredoc in Dockerfile for mcpm-aider install
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use heredoc for mcpm-aider wrapper to avoid printf parsing
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: replace printf with heredoc for mcpm-aider wrapper
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: escape single quotes by using double-quoted printf for mcpm-aider
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: delete mcpm-aider symlink before writing wrapper
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: write mcpm-aider wrapper with heredoc to restore newlines
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: correct mcpm-aider heredoc delimiter in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: replace mcpm-aider wrapper creation with printf in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: remove stderr redirection in mcpm-aider not installed check
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

build: replace heredoc with echo block for mcpm-aider
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: correct mcpm-aider launcher quoting in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: correct mcpm-aider wrapper quoting in Dockerfile RUN blocks
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: correct mcpm-aider launcher in Dockerfile to use proper quotes
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: correct quoting in mcpm-aider launcher in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: mount Claude config into coding agents; create host file if absent
  src/docker.rs
Due: build-rust-builder

feat: symlink Claude config from AIFO_CODER_CONFIG_DIR
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: sanitize PATH in mcpm-aider wrapper to avoid aifo-shim proxy
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

chore: add load: MCP.cmd to aider.conf.yml
  examples/sandbox/aider/aider.conf.yml
Due: none

chore: update load path to .aider.mcp.cmd and add aider.mcp.cmd
  examples/sandbox/aider/aider.conf.yml
  examples/sandbox/aider/aider.mcp.cmd
Due: none

style: inline claude_desktop_config.json path
  src/docker.rs
Due: build-rust-builder

chore: extend hadolint ignore to include SC2026 in RUN blocks
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

refactor: group agent features in Makefile and add WITH_MCPM_AIDER
  Makefile
Due: none

docs: Update gpt5 models in Codex config.
  examples/prod/codex/config.toml
Due: none

Update file config.toml
  examples/prod/codex/config.toml
Due: none

feat: add new mgb-aifo-model-gpt-5.1 codex models and update nano refs
  examples/sandbox/aider/aider.model.metadata.json
  examples/sandbox/aider/aider.model.settings.yml
Due: none

test: add spec/aifo-coder-pnpm_plan-v1.spec
  spec/aifo-coder-pnpm_plan-v1.spec
Due: none

test: add spec/aifo-coder-pnpm_plan-v2.spec
  spec/aifo-coder-pnpm_plan-v2.spec
Due: none

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
