Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml

fix: make metrics exporter force_flush return Result
  src/telemetry.rs
Due: build-rust-builder

fix: use new_exporter().http() for OTLP HTTPS endpoints
  src/telemetry.rs
Due: build-rust-builder

fix: use HttpExporterBuilder for OTLP metrics exporter
  src/telemetry.rs
Due: build-rust-builder

fix: enable reqwest-rustls feature for opentelemetry-otlp in Cargo.toml
  Cargo.toml
Due: build-rust-builder

chore: update Cargo.lock with new quinn and rustls deps
  Cargo.lock
Due: none

refactor: prefix OTEL names with aifo_coder_
  src/lock.rs
  src/registry.rs
  src/telemetry/metrics.rs
  src/toolchain/proxy.rs
  src/toolchain/sidecar.rs
Due: build-rust-builder

style: collapse multi-line calls in telemetry, registry, lock, and proxy
  src/lock.rs
  src/registry.rs
  src/telemetry.rs
  src/telemetry/metrics.rs
  src/toolchain/proxy.rs
  src/toolchain/sidecar.rs
Due: build-rust-builder

fix: use aifo_coder_ prefix for remaining OTEL keys
  src/apparmor.rs
  src/telemetry/metrics.rs
  src/toolchain/sidecar.rs
  src/toolchain_session.rs
Due: build-rust-builder

style: compact otel instrument attribute formatting in apparmor.rs
  src/apparmor.rs
Due: build-rust-builder

ci: pass AIFO_OTEL_ENDPOINT/TRANSPORT through to launcher build jobs
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

docs: document CI OTEL vars, build-time defaults, and precedence
  README.md
  docs/INSTALL.md
  docs/README-macos-cross-prereqs.md
  docs/README-opentelemetry.md
Due: none

docs: use make build-launcher and ./aifo-coder instead of cargo
  README.md
  docs/README-opentelemetry.md
Due: none

feat: add tracing->OTEL logs bridge, enabled by default, opt-out env
  docs/README-opentelemetry.md
  src/telemetry.rs
Due: build-rust-builder

feat: enable otel 'logs' feature for opentelemetry crates
  Cargo.toml
  src/telemetry.rs
Due: build-rust-builder

style: format log imports and compact logger.name attribute call
  src/telemetry.rs
Due: build-rust-builder

fix: adjust telemetry OTLP builder, log types, imports and layering
  src/telemetry.rs
Due: build-rust-builder

test: add OTEL traces-to-logs bridge v1 spec
  spec/aifo-coder-implement-otel-traces-to-logs-bridge-v1.spec
Due: none

docs: add OTEL traces-to-logs bridge v1 design spec
  spec/aifo-coder-implement-otel-traces-to-logs-bridge-v1.spec
Due: none

refactor: remove OpenTelemetry logs bridge and logs features
  Cargo.toml
  src/telemetry.rs
Due: build-rust-builder

docs: add AIFO coder OTEL traces-to-logs bridge v3 spec
  spec/aifo-coder-implement-otel-traces-to-logs-bridge-v3.spec
Due: none

docs: add OTEL traces-to-logs bridge v3 spec
  spec/aifo-coder-implement-otel-traces-to-logs-bridge-v3.spec
Due: none

feat: add OTEL logs provider and tracing-to-logs bridge
  Cargo.toml
  src/telemetry.rs
Due: build-rust-builder

style: remove extra blank line before telemetry_init
  src/telemetry.rs
Due: build-rust-builder

fix: use correct OpenTelemetry SDK log types, imports and record API
  src/telemetry.rs
Due: build-rust-builder

style: reorder and deduplicate opentelemetry logs import
  src/telemetry.rs
Due: build-rust-builder

fix: correct OpenTelemetry logs API usage and subscriber layering
  src/telemetry.rs
Due: build-rust-builder

fix: use SdkLogRecord::default and update base_subscriber mutably
  src/telemetry.rs
Due: build-rust-builder

fix: use logger.create_log_record and correctly compose base subscriber
  src/telemetry.rs
Due: build-rust-builder

fix: use SeverityNumber and set_severity_number; fix subscriber layering
  src/telemetry.rs
Due: build-rust-builder

fix: use opentelemetry::logs::Severity and fix subscriber layering
  src/telemetry.rs
Due: build-rust-builder

fix: use set_severity_text, drop Severity, attach optional OtelLogLayer
  src/telemetry.rs
Due: build-rust-builder

fix: pass &str to set_severity_text to fix type error
  src/telemetry.rs
Due: build-rust-builder

fix: remove unnecessary let binding when calling logger.emit
  src/telemetry.rs
Due: build-rust-builder

feat: emit startup/exit telemetry logs and record run duration
  src/main.rs
  src/telemetry.rs
  src/telemetry/metrics.rs
Due: build-rust-builder

fix: expose record_run_start/end and update main to use them
  src/lib.rs
  src/main.rs
Due: build-rust-builder

feat: log OTLP logs exporter status to stderr in verbose mode
  src/telemetry.rs
Due: build-rust-builder

style: reorder telemetry pub re-exports for consistency
  src/lib.rs
Due: build-rust-builder

docs: clarify OTLP endpoint log message about export failures
  src/telemetry.rs
Due: build-rust-builder

fix: add blank log line after telemetry init messages
  src/telemetry.rs
Due: build-rust-builder

fix: correct crate attribute and shorten OTLP telemetry log
  src/telemetry.rs
Due: build-rust-builder
