Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, build-toolchain, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
    KANIKO_CUSTOM_BUILD_ARGUMENTS: WITH_WIN=0
  ...

build-toolchain:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder-toolchain
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    IMAGE_PATH_EXTRA: $FOLDER
    DOCKER_FILE: toolchains/$FOLDER/Dockerfile
  before_script:
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

perf: consolidate Dockerfile RUNs to reduce image layers
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: correct quoting in Dockerfile openhands wrapper printf
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: quote printf args and escape $@ in Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: avoid ShellCheck SC2026 by escaping * in find pattern
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: use double quotes for pycache and *.pyc in Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: replace generated openhands wrapper with symlink in Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: use double quotes in Dockerfile sed/tr to avoid SC2026
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

chore: disable shellcheck SC2026 in Dockerfile RUNs
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: escape inner quotes in Dockerfile python -c to fix SC2026
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

docs: clarify full test suite echo to include ignored e2e tests
  Makefile
Due: none

style: remove redundant hadolint and shellcheck ignores from Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

ci: remove manual default-branch fallback from build-rust-builder
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: publish per-OS binaries and archives in publish-release job
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: define KEEP_APT env in Dockerfile stages to avoid build failure
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

chore: adjust lint-ultra to curated denies/warnings and all-targets
  Makefile
Due: none

refactor: replace unsafe capture_stdout with safe nix pipe implementation
  tests/support/mod.rs
Due: none

fix: remove -D warnings from lint-ultra cargo clippy invocations
  Makefile
Due: none

feat: suppress clippy advisory warnings by default, toggleable via env
  Makefile
Due: none

feat: lint tests by default in lint-ultra and compute TARGETS
  Makefile
Due: none

fix: preflight rustup components for fmt/clippy to avoid duplicate runs
  Makefile
Due: none

feat: make lint-ultra default to lib+bins and avoid duplicate clippy
  Makefile
Due: none

fix: use AsRawFd and drop OwnedFd when calling nix fns in tests
  tests/support/mod.rs
Due: none

fix: use /var/tmp/aifo-target for docker test builds and grcov
  Makefile
Due: none

chore: rename validate-macos-artifact target to arm64 and update help
  Makefile
Due: none

fix: remove CARGO_TARGET_DIR export from macos cross test command
  Makefile
Due: none

fix: add rustup targets for macOS cross tests
  Makefile
Due: none

fix: set notifications timeout env vars in Makefile test runs
  Makefile
Due: none

style: suppress unused import warning for std::io::Read
  src/toolchain/notifications.rs
Due: build-rust-builder, build-toolchain

fix: implement in-process timeout and concurrently read child stdout/stderr
  src/toolchain/notifications.rs
Due: build-rust-builder, build-toolchain

fix: default/export KEEP_APT and use nounset-safe checks in toolchains
  toolchains/cpp/Dockerfile
  toolchains/node/Dockerfile
  toolchains/rust/Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

refactor: extract macOS cross stage to builders/macos-cross/Dockerfile
  .gitlab-ci.yml
  builders/macos-cross/Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

refactor: remove macOS cross Rust builder stage from Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

docs: add help entry for test-macos-cross-image
  Makefile
Due: none

fix: point macos-cross build targets to builders/macos-cross/Dockerfile
  Makefile
Due: none

fix: derive macOS SDK name robustly and hard-fail on unknown SDK
  builders/macos-cross/Dockerfile
Due: none

fix: avoid mutating KANIKO_CUSTOM_BUILD_ARGUMENTS in macOS job
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: ensure playwright is installed in aider builders and correct ARG
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: use double quotes for python -c import playwright in Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

style: format command builder and deadline assignment
  src/toolchain/notifications.rs
Due: build-rust-builder, build-toolchain

feat: release 0.6.3
  Cargo.toml
Due: build-rust-builder, build-toolchain

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  build-toolchain: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
