Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

fix: prefer local first-party toolchain image over registry
  src/toolchain/images.rs
Due: build-rust-builder

refactor: make check-all depend on check and drop test call
  Makefile
Due: none

fix: install cargo-nextest fallback unconditionally if download fails
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

chore: clean up Dockerfiles for hadolint/shellcheck and harden macOS cross builder
  .hadolint.yaml
  Dockerfile
  builders/macos-cross/Dockerfile
  toolchains/node/Dockerfile
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: add RELEASE_PREFIX/POSTFIX and improve publish-release defaults
  Makefile
Due: none

docs: add RELEASE_PREFIX and RELEASE_POSTFIX to Makefile help
  Makefile
Due: none

fix: move publish config banner to publish to show effective defaults
  Makefile
Due: none

fix: use origin-based defaults in publish-release and honor overrides
  Makefile
Due: none

fix: make publish-release respect env/cli overrides and set defaults
  Makefile
Due: none

fix: prevent shell command substitution in publish-release Make target
  Makefile
Due: none

chore: add banner and confirmation prompt to publish Makefile target
  Makefile
Due: none

fix: reset PATH and tolerate npm cache clean in openhands-slim build
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

chore: clear terminal before running publish target
  Makefile
Due: none

fix: use prebuilt cargo-nextest and grcov for cross-builds
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: select correct nextest/grcov targets and fallback in Dockerfile
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: make NEXTEST_VERSION configurable and pass to Docker builds
  Makefile
Due: none

fix: try both cargo-nextest and nextest asset names when downloading
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use correct cargo-nextest asset names and skip compile under QEMU
  Dockerfile
  Makefile
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use grcov v0.10.5 and add musl fallback for prebuilt binaries
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: isolate registry state in toolchain mapping unit test
  tests/unit_toolchain_mappings.rs
Due: none

feat: stage Aider config to per-run dir and remove after run
  src/docker.rs
  src/main.rs
Due: build-rust-builder

fix: replace else if with elif in Rust Dockerfile RUN block
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

toolchains/rust/Dockerfile ````dockerfile <<<<<<< SEARCH fi; \ else \ if [ -n "$tgt_nextest" ]; then \ ======= fi; \ elif [ -n "$tgt_nextest" ]; then \ >>>>>>> REPLACE ````
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

style: split env::set_var call into multiple lines
  src/docker.rs
Due: build-rust-builder

feat: add per-run staging and in-container install for coding agents
  Dockerfile
  src/docker.rs
Due: build-rust-builder, lint-dockerfiles

style: improve readability of complex condition and staged_any return
  src/docker.rs
Due: build-rust-builder

fix: remove duplicate std::path::Path import in src/docker.rs
  src/docker.rs
Due: build-rust-builder

fix: use contains instead of iter().any for ext check
  src/docker.rs
Due: build-rust-builder

fix: do not stage codex config; preserve host ~/.codex mount
  src/docker.rs
Due: build-rust-builder

fix: stop installing codex config in container to preserve $HOME/.codex
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: always mount HOME-based agent dirs unless fork-state set
  src/docker.rs
Due: build-rust-builder

fix: stage per-agent configs in stable dirs; set aider perms 0600
  src/docker.rs
Due: build-rust-builder

fix: prefer local :latest fallback when resolving agent images
  src/agent_images.rs
Due: build-rust-builder

feat: add deep and combo probes with timeout and env flags
  src/support.rs
Due: build-rust-builder

feat: add Dockerfile for TypeScript toolchain
  toolchains/ts/Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: integrate combo probe into status semantics
  src/support.rs
Due: build-rust-builder

chore: include TypeScript toolchain in help and Dockerfile lint
  Makefile
Due: none

feat: add TypeScript toolchain image and default image mapping
  src/toolchain/images.rs
  toolchains/ts/Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: add TypeScript toolchain targets and publishing to Makefile
  Makefile
Due: none

refactor: tidy imports and format strings, simplify env var checks
  src/support.rs
Due: build-rust-builder

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
