Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, build-toolchain, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  build-toolchain: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml

test: skip e2e proxy test if Docker missing or unreachable
  tests/e2e_proxy_large_payload_notifications_cmd.rs
Due: none

refactor: consolidated check-* and lint-*
  Makefile
  scripts/lint-test-naming.sh
Due: none

test: add spec for refactor repository choice and dual-repo support
  spec/aifo-coder-refactor-repository-choice-and-support-two-repositories.spec
Due: none

docs: remove spec for splitting mirror and internal registries
  spec/aifo-coder-refactor-repository-choice-and-support-two-repositories.spec
Due: none

docs: add spec to split mirror and internal registries
  spec/aifo-coder-refactor-repository-choice-and-support-two-repositories-v1.spec
  spec/aifo-coder-refactor-repository-choice-and-support-two-repositories-v2.spec
Due: none

docs: add spec to split mirror and internal registries
  spec/aifo-coder-refactor-repository-choice-and-support-two-repositories.spec
Due: none

docs: add Phase 0 inventory and update CHANGES/SCORE
  docs/PHASE0-INVENTORY.md
Due: none

docs: add v2 spec for dual registries and migration plan
  spec/aifo-coder-refactor-repository-choice-and-support-two-repositories-v2.spec
Due: none

feat: add mirror and internal registry APIs with caching and test updates
  src/registry.rs
  tests/int_cli_cache_clear_effect.rs
  tests/int_cli_images_registry_env.rs
  tests/int_images_output_new_agents.rs
Due: build-rust-builder, build-toolchain

fix: reference local crate function for internal registry prefix
  src/toolchain/images.rs
Due: build-rust-builder, build-toolchain

feat: implement Phase 2 runtime image resolution and CLI diagnostics
  src/agent_images.rs
  src/commands/mod.rs
  src/doctor.rs
  src/main.rs
  src/support.rs
  src/toolchain/images.rs
  tests/int_cli_doctor_details.rs
  tests/int_cli_images_registry_env.rs
  tests/int_images_output_new_agents.rs
  tests/unit_images_output.rs
  tests/unit_registry_probe_abstraction.rs
  tests/unit_registry_probe_determinism.rs
  tests/unit_registry_probe_edge_cases.rs
Due: build-rust-builder, build-toolchain

fix: read on-disk mirror registry cache before probing
  src/registry.rs
Due: build-rust-builder, build-toolchain

style: remove leading space before mirror registry comment
  src/registry.rs
Due: build-rust-builder, build-toolchain

chore: add TODOs to Makefile and build-images.sh for IR/MR updates
  Makefile
  scripts/build-images.sh
Due: none

fix: change //// to /// and reduce padding in eprintln outputs
  src/commands/mod.rs
  src/registry.rs
Due: build-rust-builder, build-toolchain

fix: only push internal registry tags and emit OCI archives
  Makefile
  scripts/build-images.sh
Due: none

refactor: rename REG_SETUP_COMMON to INTERNAL_REG_SETUP and update script
  Makefile
  scripts/build-images.sh
Due: none

refactor: use internal registry for tagging and remove mirror tags
  Makefile
  scripts/build-images.sh
Due: none

fix: remove conflict markers and stray notes from Makefile
  Makefile
Due: none

refactor: use INTERNAL_REG_SETUP in publish targets
  Makefile
Due: none

style: indent title calls in Makefile help
  Makefile
Due: none

docs: rename and clarify registry prefix env var in README
  README.md
Due: none

refactor: remove deprecated single-registry API; update docs and tests
  README.md
  docs/CONTRIBUTING.md
  docs/INSTALL.md
  src/registry.rs
  tests/unit_registry_probe_abstraction.rs
  tests/unit_registry_probe_edge_cases.rs
Due: build-rust-builder, build-toolchain

ci: add REGISTRY_PREFIX to kaniko build args in GitLab CI
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

docs: add CHANGES entry for Phase 5 dual-registries
  CHANGES.md
Due: none

test: drop obsolete AIFO_CODER_REGISTRY_PREFIX env removals
  tests/unit_registry_probe_abstraction.rs
  tests/unit_registry_probe_determinism.rs
  tests/unit_registry_probe_edge_cases.rs
Due: none

docs: update man page to document internal and build registry prefixes
  man/aifo-coder.1
Due: none

fix: use MIRROR_REGISTRY_SOURCE and simplify mirror source logic
  src/registry.rs
Due: build-rust-builder, build-toolchain

chore: use INTERNAL_REG_SETUP in Makefile build targets
  Makefile
Due: none

style: format code and wrap long lines in tests
  src/main.rs
  src/registry.rs
  tests/int_images_output_new_agents.rs
Due: build-rust-builder, build-toolchain

test: update cache filename to mirrorprefix in unit test
  tests/unit_registry_oncecell_cache.rs
Due: none

docs: update test comment to preferred_mirror_registry_source
  tests/unit_registry_source_unknown_pristine.rs
Due: none

test: migrate registry tests to mirror APIs and cache filename
  tests/unit_registry_env_probe_case_curl_fail_upper.rs
  tests/unit_registry_env_probe_case_tcp_ok_upper.rs
  tests/unit_registry_env_probe_curl_fail_prefix.rs
  tests/unit_registry_env_probe_unknown.rs
  tests/unit_registry_probe_env_curl_prefix.rs
  tests/unit_registry_quiet_env_override_root_prefix.rs
  tests/unit_registry_quiet_env_probe_curl.rs
  tests/unit_registry_quiet_env_probe_curl_fail.rs
  tests/unit_registry_quiet_env_probe_curl_ok.rs
  tests/unit_registry_quiet_env_probe_tcp_fail.rs
  tests/unit_registry_quiet_env_probe_tcp_ok.rs
  tests/unit_registry_quiet_env_probe_unknown.rs
  tests/unit_registry_quiet_override_curl_fail.rs
  tests/unit_registry_quiet_override_curl_ok.rs
  tests/unit_registry_quiet_override_tcp_fail.rs
  tests/unit_registry_quiet_override_tcp_ok.rs
  tests/unit_registry_quiet_override_vs_env_override.rs
  tests/unit_registry_source_curl.rs
  tests/unit_registry_source_tcp.rs
  tests/unit_registry_source_unknown.rs
  tests/unit_registry_source_unknown_override.rs
  tests/unit_registry_source_unknown_pristine.rs
Due: none

test: adapt registry tests to internal/mirror API and caches
  tests/unit_registry_cache_retrieval_path.rs
  tests/unit_registry_env_empty_cache.rs
  tests/unit_registry_env_override_vs_override_precedence.rs
  tests/unit_registry_quiet_env_empty_exact.rs
Due: none

test: migrate registry tests to internal API and drop disk cache checks
  tests/unit_registry_env_empty_cache.rs
  tests/unit_registry_env_override_root_prefix.rs
  tests/unit_registry_oncecell_cache.rs
  tests/unit_registry_quiet_env_empty.rs
Due: none

test: use mirror prefix API and cache filename in tests
  tests/unit_registry_cache_invalidate.rs
  tests/unit_registry_cache_persistence_in_process.rs
  tests/unit_registry_env_override_leading_spaces.rs
  tests/unit_registry_env_probe_case_tcp_fail_upper.rs
  tests/unit_registry_override_curl_fail.rs
  tests/unit_registry_override_curl_ok.rs
  tests/unit_registry_override_tcp_fail.rs
  tests/unit_registry_probe_env_curl_fail_prefix.rs
Due: none

fix: use preferred_mirror_registry_* in tests and drop unused fs
  tests/unit_registry_cache_invalidate.rs
  tests/unit_registry_override_vs_env_probe_conflict.rs
  tests/unit_registry_probe_env_tcp_fail_prefix.rs
Due: none

style: inline assert! for override cache absence
  tests/unit_registry_env_override_vs_override_precedence.rs
Due: none

test: update registry tests to use mirror/internal API and cache names
  tests/unit_registry_cache_invalidate.rs
  tests/unit_registry_env_override_change_runtime.rs
  tests/unit_registry_env_probe_case_curl_ok_upper.rs
  tests/unit_registry_env_probe_tcp_fail_prefix.rs
  tests/unit_registry_probe_env_tcp_fail_prefix.rs
Due: none

test: update env-override test to expect no on-disk registry cache
  tests/unit_registry_env_override_trailing_spaces.rs
Due: none
