Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml

fix: correct crate-level allow(dead_code) attribute
  src/telemetry.rs
Due: build-rust-builder

feat: normalize OTLP endpoint and derive /v1/metrics & /v1/logs URLs
  src/telemetry.rs
Due: build-rust-builder

style: consolidate telemetry.rs formatting and unwrap lines
  src/telemetry.rs
Due: build-rust-builder

fix: explicitly match INFO/WARN/ERROR and drop DEBUG/TRACE in OTEL layer
  src/telemetry.rs
Due: build-rust-builder

docs: add OpenTelemetry Rust guide with comprehensive examples
  context7/opentelemetry-rust.md
Due: none

feat: add user and cwd (and hashes) to record_run_end telemetry
  src/telemetry.rs
Due: build-rust-builder

feat: emit OTEL log bodies as JSON from tracing events
  src/telemetry.rs
Due: build-rust-builder

feat: include hashed cwd and conditionally expose PII in telemetry
  src/telemetry.rs
Due: build-rust-builder

feat: add user and user_hash to startup telemetry info
  src/telemetry.rs
Due: build-rust-builder

style: condense JsonVisitor init and wrap serde_json line
  src/telemetry.rs
Due: build-rust-builder

feat: include version and toolchains in run-start OTEL log
  src/main.rs
  src/telemetry.rs
Due: build-rust-builder

feat: add toolchain list and version to telemetry record_run_start
  src/main.rs
  src/telemetry.rs
Due: build-rust-builder

fix: log toolchains as human-readable comma-separated string
  src/telemetry.rs
Due: build-rust-builder

chore: bump crate version to 0.6.6
  Cargo.lock
  Cargo.toml
Due: build-rust-builder

feat: log version and toolchains in record_run_end; propagate arg
  src/main.rs
  src/telemetry.rs
Due: build-rust-builder

style: inline iterator map/collect for toolchains_for_run
  src/main.rs
Due: build-rust-builder

fix: pass toolchains_for_run to record_run_end
  src/main.rs
Due: build-rust-builder

build: include docs directory in release artifacts
  .gitlab-ci.yml
  Makefile
Due: build-rust-builder, lint-dockerfiles

fix: guard run_start with feature 'otel' to silence unused var warning
  src/main.rs
Due: build-rust-builder

test: add aifo-coder-switch-aider-to-head-v1 spec
  spec/aifo-coder-switch-aider-to-head-v1.spec
Due: none

docs: add spec to support building Aider from git HEAD or release
  spec/aifo-coder-switch-aider-to-head-v1.spec
Due: none

feat: add AIDER_SOURCE/GIT_REF build args and git install/provenance
  Dockerfile
  Makefile
Due: build-rust-builder, lint-dockerfiles

feat: add git install option for Aider and pass build args
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: declare AIDER_VERSION ARG in aider and aider-slim stages
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

feat: pass AIDER build args and WITH_PLAYWRIGHT to Makefile builds
  Makefile
Due: none

chore: default AIDER_SOURCE to git and add THREADS_GRCOV variable
  Makefile
Due: none

feat: add Azure GPT-5 family model settings to aider example
  examples/sandbox/aider/aider.model.settings.yml
Due: none

feat: deduplicate and use carriage return for telemetry errors
  src/telemetry.rs
Due: build-rust-builder

style: inline metrics export error message formatting
  src/telemetry.rs
Due: build-rust-builder

fix: colorize telemetry error barriers and use CRLF separators
  src/telemetry.rs
Due: build-rust-builder

fix: use single blank line in telemetry warn barrier
  src/telemetry.rs
Due: build-rust-builder

feat: batch metrics export errors and flush pending on shutdown
  src/telemetry.rs
Due: build-rust-builder

refactor: collapse nested if into single conditional
  src/telemetry.rs
Due: build-rust-builder

chore: add SC1012 to hadolint ignored rules
  .hadolint.yaml
Due: none

feat: unify ts/bun into node toolchain, install typescript & bun
  Makefile
  src/cli.rs
  src/toolchain/images.rs
  src/toolchain/routing.rs
  toolchains/node/Dockerfile
Due: build-rust-builder, lint-dockerfiles

chore: remove TS_TOOLCHAIN_TAG from Makefile exports
  Makefile
Due: none

chore: remove TypeScript toolchain Dockerfile
  toolchains/ts/Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: update toolchain tests to expect ts/typescript -> node
  tests/unit_toolchain_mappings.rs
Due: none

feat: add 'bun' alias to Node toolchain and update Makefile/Dockerfile
  Makefile
  src/cli.rs
  toolchains/node/Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: make TypeScript normalize_toolchain_kind assertion single-line
  tests/unit_toolchain_mappings.rs
Due: none
