Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, build-toolchain, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
    KANIKO_CUSTOM_BUILD_ARGUMENTS: WITH_WIN=0
  ...

build-toolchain:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder-toolchain
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    IMAGE_PATH_EXTRA: $FOLDER
    DOCKER_FILE: toolchains/$FOLDER/Dockerfile
  before_script:
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

test: switch registry tests to internal/mirror prefix APIs
  tests/unit_registry_env_empty.rs
  tests/unit_registry_env_override_change_runtime.rs
  tests/unit_registry_env_override_trailing_spaces.rs
  tests/unit_registry_env_value.rs
  tests/unit_registry_invalidate_no_file.rs
  tests/unit_registry_override_curl_ok.rs
  tests/unit_registry_override_tcp_fail.rs
  tests/unit_registry_override_vs_env_probe.rs
  tests/unit_registry_probe_env_tcp_ok_prefix.rs
  tests/unit_registry_quiet_env_probe_curl_ok.rs
Due: none

test: switch registry tests to internal/mirror API and env var names
  tests/unit_registry_env_non_empty_normalization.rs
  tests/unit_registry_env_probe_curl_ok_prefix.rs
Due: none

test: update registry tests to use internal registry API and env var
  tests/unit_registry_env_non_empty_nested_normalization.rs
  tests/unit_registry_quiet_env_override_root_prefix.rs
Due: none

test: use preferred_mirror_registry_* and mirrorprefix cache name
  tests/unit_registry_override_tcp_ok.rs
Due: none

test: use internal registry env/functions and assert no disk cache
  tests/unit_registry_cache_persistence_in_process.rs
  tests/unit_registry_env_override_root_prefix.rs
  tests/unit_registry_quiet_env_empty.rs
Due: none

test: update registry tests to use internal registry vars/functions
  tests/unit_registry_env_override_trailing_slash_passthrough.rs
  tests/unit_registry_env_override_wins.rs
  tests/unit_registry_oncecell_cache.rs
Due: none

test: call preferred_mirror_registry_prefix_quiet in curl-fail test
  tests/unit_registry_override_curl_fail.rs
Due: none

test: use preferred_mirror_registry_* functions in registry probe test
  tests/unit_registry_probe_env_curl_fail_prefix.rs
Due: none

test: adapt registry test to internal env and expect no on-disk cache
  tests/unit_registry_env_override_leading_spaces.rs
Due: none

fix: expect cached internal registry prefix in unit test
  tests/unit_registry_env_override_change_runtime.rs
Due: none

fix: use mirror-prefixed registry functions and cache name in test
  tests/unit_registry_probe_env_unknown.rs
Due: none

fix: remove extraneous WITH_WIN from KANIKO_CUSTOM_BUILD_ARGUMENTS
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

docs: fix test suite descriptions in Makefile help
  Makefile
Due: none

fix: mount host files as read-only in collect_volume_flags
  src/docker.rs
Due: build-rust-builder, build-toolchain

style: break long format strings into multiple lines
  src/docker.rs
Due: build-rust-builder, build-toolchain

feat: add spec for macOS cross-builder image v1
  spec/aifo-coder-implement-macos-cross-builder-image-v1.spec
Due: none

docs: add macOS cross-builder image implementation spec
  spec/aifo-coder-implement-macos-cross-builder-image-v1.spec
Due: none

feat: add aifo-coder macOS cross-builder image v2 spec
  spec/aifo-coder-implement-macos-cross-builder-image-v2.spec
Due: none

refactor: rename macos-cross-builder to macos-cross-rust-builder in spec
  spec/aifo-coder-implement-macos-cross-builder-image-v1.spec
Due: none

feat: add macOS cross-builder image spec v3
  spec/aifo-coder-implement-macos-cross-builder-image-v3.spec
Due: none

build: add macOS cross-builder image v3 spec
  spec/aifo-coder-implement-macos-cross-builder-image-v3.spec
Due: none

docs: add macOS cross-builder image (osxcross) v2 spec
  spec/aifo-coder-implement-macos-cross-builder-image-v2.spec
Due: none

feat: add macos-cross-rust-builder stage to Dockerfile
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

feat: add macOS CI SDK decode script, template & docs
  .gitlab/ci-templates/macos-sdk-decode.yml
  ci/bin/decode-apple-sdk.sh
  docs/ci/macos-cross-prereqs.md
Due: none

fix: use $t instead of $$t in osxcross symlink commands
  Dockerfile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

fix: set IMAGE_TAG_CUSTOM in build-macos-cross-rust-builder rules
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

ci: add macOS cross-builder and launcher jobs; attach macOS artifact
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

feat: add macOS x86_64 cross-build, otool checks, OSXCROSS_REF
  .gitlab-ci.yml
  Dockerfile
  Makefile
Due: build-rust-builder, build-toolchain, lint-dockerfiles

feat: add macOS cross build and launcher Makefile targets
  Makefile
Due: none

feat: add validate-macos-artifact Makefile target and docs
  Makefile
  docs/ci/macos-cross-validation.md
Due: none

ci: add macOS binaries to artifacts paths
  .gitlab-ci.yml
Due: build-rust-builder, build-toolchain, lint-dockerfiles

feat: add aggregate build-launcher-macos-cross and rename arm64 target
  Makefile
  README.md
  docs/ci/macos-cross-validation.md
Due: none

docs: add macOS osxcross cross-build guide and Make targets
  README.md
Due: none

docs: update Makefile targets and variables tables in README
  README.md
Due: none

docs: reformat Makefile targets table and wrap long descriptions
  README.md
Due: none

docs: update README Makefile targets and variables table
  README.md
Due: none

ci: add prepare-apple-sdk job and document artifact-based SDK flow
  .gitlab-ci.yml
  docs/ci/macos-cross-prereqs.md
Due: build-rust-builder, build-toolchain, lint-dockerfiles

chore: add ci/osx/.tar.xz to .gitignore
  .gitignore
Due: none

docs: add MacOSX13.3 SDK download and checksum instructions
  docs/ci/macos-cross-prereqs.md
Due: none

feat: verify APPLE_SDK_SHA256 and wire SDK artifact to consumer job
  .gitlab-ci.yml
  ci/bin/decode-apple-sdk.sh
  docs/ci/macos-cross-prereqs.md
Due: build-rust-builder, build-toolchain, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  build-toolchain: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
