Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml

fix: expose init_node_cache_volume_if_needed and drop dup fn
  Cargo.toml
  src/toolchain/mounts.rs
Due: build-rust-builder

fix: mount repo .pnpm-store into /workspace/.pnpm-store
  src/toolchain/sidecar.rs
Due: build-rust-builder

chore: update Cargo.lock with walkdir, same-file, and winapi-util
  Cargo.lock
Due: none

style: collapse init_node_cache_volume signature to one line
  src/toolchain/mounts.rs
Due: build-rust-builder

fix: add blank line after pnpm migration completed message
  src/toolchain_session.rs
Due: build-rust-builder

feat: include uv and uvx in shim tool links and tests
  Dockerfile
  tests/unit_shim_writer.rs
Due: build-rust-builder, lint-dockerfiles

feat: add uvx shim, route uv/uvx to python; enable pnpm in agents
  Dockerfile
  src/toolchain/routing.rs
  src/toolchain/shim.rs
  tests/unit_route_map.rs
Due: build-rust-builder, lint-dockerfiles

test: inline uv and uvx assertions in shim tool names test
  tests/unit_shim_writer.rs
Due: none

fix: set PATH in aider-builder-slim to avoid uv shim shadowing
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

build: ensure writable HOME subtrees for arbitrary uid (uv/uvx, pnpm)
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: add integration tests for HOME writability across images
  tests/int_home_writability.rs
Due: none

test: rename int_home_writability.rs to int_home_writability_agents.rs and add per-agent writability tests
  tests/int_home_writability.rs
Due: none

build: pre-create 0777 home XDG dirs in base images
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: robustly initialize HOME in entrypoint when undefined or root
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

refactor: move int_home_writability tests to dedicated agents file
  tests/int_home_writability.rs
  tests/int_home_writability_agents.rs
Due: none

test: add int_home_writability test scaffold and tidy agent formatting
  tests/int_home_writability.rs
  tests/int_home_writability_agents.rs
Due: none

test: add aifo-coder-cleanup-codebase-interation-1-v1.spec
  spec/aifo-coder-cleanup-codebase-interation-1-v1.spec
Due: none

docs: add Iteration 1 spec for AIFO codebase cleanup
  spec/aifo-coder-cleanup-codebase-interation-1-v1.spec
Due: none

refactor: consolidate test support helpers and adapt tests
  tests/e2e_config_copy_policy.rs
  tests/e2e_proxy_smoke.rs
  tests/support/mod.rs
Due: none

refactor: consolidate test helpers into tests/support and update tests
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
  tests/e2e_proxy_stream_backpressure.rs
  tests/support/mod.rs
Due: none

chore: add mod support to tests/e2e_config_missing_host_dir_runtime.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: none

refactor: migrate e2e tests to use shared support helpers
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: none

fix: enforce cmd and argv length limits in notifications
  src/toolchain/notifications.rs
Due: build-rust-builder

feat: add cwd normalization and caps enforcement in proxy
  src/toolchain/proxy.rs
Due: build-rust-builder

feat: finish Phase B gaps: safe stty path, TE parsing, env allowlist
  aifo-coder
  build.rs
  src/toolchain/http.rs
  src/toolchain/notifications.rs
  src/toolchain/proxy.rs
  src/ui/warn.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: build-rust-builder

style: tidy formatting in proxy.rs and test suites
  src/toolchain/proxy.rs
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
  tests/e2e_proxy_smoke.rs
  tests/support/mod.rs
Due: build-rust-builder

fix: remove cfg gating for warn_input_fallback
  src/ui/warn.rs
Due: build-rust-builder

fix: use &Path, simplify PathBuf mapping, refactor stty_path
  src/toolchain/notifications.rs
  src/ui/warn.rs
Due: build-rust-builder

fix: add docker() helper and switch to docker_exec_sh in tests
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: none

feat: make safe-dir enforcement opt-in via env var
  src/toolchain/notifications.rs
Due: build-rust-builder

refactor: move notify caps enforcement to auth/noauth branches
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: enforce default safe dirs for notifications and honor allowlist
  src/toolchain/notifications.rs
Due: build-rust-builder

fix: move enforce_notify_caps after proto check in noauth
  src/toolchain/proxy.rs
Due: build-rust-builder

test: add shared EnvGuard to override notifications safe-dir policy
  tests/int_notifications.rs
  tests/int_notifications_handle_request.rs
  tests/int_notifications_hardening.rs
  tests/int_notifications_policy_spec.rs
  tests/int_notify_proxy_tcp.rs
  tests/int_notify_verbose_logs.rs
  tests/int_proxy_notifications_policy.rs
  tests/support/mod.rs
Due: none

test: add support module and suppress dead_code for EnvGuard::remove
  tests/int_notifications_handle_request.rs
  tests/support/mod.rs
Due: none

fix: adjust test support path to super::support and add mod support in int_notify_proxy_tcp.rs
  tests/int_notifications_hardening.rs
  tests/int_notify_proxy_tcp.rs
Due: none

test: add support module and switch to support:: in tests
  tests/int_notifications_hardening.rs
Due: none

fix: import crate::support in notifications_hardening_tests
  tests/int_notifications_hardening.rs
Due: none

fix: canonicalize safe dirs for notifications and improve test helper
  src/toolchain/notifications.rs
  tests/support/mod.rs
Due: build-rust-builder

fix: add canonical parent path check for safe-dir validation
  src/toolchain/notifications.rs
Due: build-rust-builder
