Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

fix: use -c for sh invocations instead of -lc
  src/docker.rs
  src/toolchain/mounts.rs
  src/toolchain/proxy.rs
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: build-rust-builder

fix: normalize -lc to -c and drop trailing '; exit' in sh shim
  Dockerfile
  src/toolchain/shim.rs
Due: build-rust-builder, lint-dockerfiles

fix: export clean PATH in Dockerfile RUNs to avoid shim proxy
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: copy global and agent dotfiles into proper .aifo-config subdirs
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: add PATH export to Dockerfile RUN commands
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: prepend shims-first PATH in Dockerfile RUN stages
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: ignore '.' and '..' when iterating host config files
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: export PATH in plandex-slim RUN before chmod/strip
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: retry npm install and fallback to direct crush binary download
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: retry npm install and fallback to downloading crush binary
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

test: use HOME tempdirs and export both AIFO config host env vars
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
Due: none

test: wait for .aifo-config readiness and trigger entrypoint fallback
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: none

test: normalize stat permission checks to last 3 octal digits
  tests/e2e_config_copy_policy.rs
Due: none

fix: include AIFO_CONFIG_* in PROXY_ENV_NAMES for preview
  src/toolchain/env.rs
Due: build-rust-builder

test: remove should_run_macos_cross helper from macos e2e test
  tests/e2e_macos_cross.rs
Due: none

fix: invoke aifo-entrypoint before launching agent in docker cmd
  src/docker.rs
Due: build-rust-builder

fix: set AIFO_CODER_CONFIG_HOST_DIR env for back-compat in agent
  src/docker.rs
Due: build-rust-builder

feat: warn when coding agent host config dir is missing
  src/docker.rs
Due: build-rust-builder

feat: accept AIFO_CODER_CONFIG_HOST_DIR when resolving host config dir
  src/docker.rs
Due: build-rust-builder

style: reformat tests and env.rs for readability
  src/toolchain/env.rs
  tests/e2e_config_concurrency.rs
  tests/e2e_config_copy_policy.rs
  tests/e2e_config_missing_host_dir_runtime.rs
Due: build-rust-builder

feat: auto-migrate legacy Aider config into standardized host dir
  src/docker.rs
Due: build-rust-builder

fix: avoid mounting empty host config dir unless it contains files
  src/docker.rs
Due: build-rust-builder

fix: create config dir only if legacy Aider files exist
  src/docker.rs
Due: build-rust-builder

fix: mount explicit config dir; auto-mount defaults only if files exist
  src/docker.rs
Due: build-rust-builder

refactor: centralize nextest args, enable color, streamline clippy
  Makefile
Due: none

chore: add NICENESS_CARGO_NEXTEST and tidy Makefile help
  Makefile
Due: none

ci: make publish-multiarch manual and move to release stage
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

feat: add publish-release target, CPP_TOOLCHAIN_TAG, and help text
  Makefile
Due: none

fix: clarify publish-release help and use VERSION for default tags
  Makefile
Due: none

feat: append -linux-<arch> suffix to single-arch CI image tags
  Makefile
Due: none

feat: add component build-args to Makefile docker builds
  Makefile
Due: none

feat: add missing Makefile variables and wire Docker build-args
  Makefile
Due: none

feat: standardize agent version and git vars and update build wiring
  Dockerfile
  Makefile
  README.md
Due: build-rust-builder, lint-dockerfiles

build: use OPENHANDS_VERSION and PLANDEX_GIT_REF build-args
  Makefile
Due: none

feat: include component version/ref build-args in Makefile docker builds
  Makefile
Due: none

build: enable macOS-cross E2E by default in Makefile
  Makefile
Due: none

fix: correct OPENCODE_VERSION build-arg name in Makefile
  Makefile
Due: none

fix: add CPP_TOOLCHAIN_TAG to publish-multiarch job variables
  .gitlab-ci.yml
Due: build-rust-builder, lint-dockerfiles

refactor: rename AIFO_E2E_MACOS_CROSS to TEST_E2E_MACOS_CROSS
  Makefile
Due: none

fix: install arch-specific cargo-nextest and verify runtime
  toolchains/rust/Dockerfile
Due: build-rust-builder, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
