Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

build-rust-builder:
  variables:
    KANIKO_CACHE_ARGS: --cache=true --cache-ttl=168h --cache-repo $CI_REGISTRY_IMAGE/kaniko-cache
    IMAGE_PREFIX: coder
    IMAGE_TAG_CUSTOM: $CI_COMMIT_TAG
    IMAGE_TAG_CUSTOM_ONLY: true
    TARGET_NAME: rust-builder
    IMAGE_PATH_EXTRA: rust-builder
  ...

lint-dockerfiles:
  stage: test
  image: repository.migros.net/hadolint/hadolint:2.12.0-debian
  interruptible: true
  timeout: 10m
  tags:
  - qual-mcap-gcp
  script:
  - echo "Linting Dockerfiles with hadolint (advisory)..."
  ...

feat: add opt-in OTLP metrics provider with periodic reader
  src/telemetry.rs
Due: build-rust-builder

fix: warn and fall back to stderr exporter when OTLP unavailable
  src/telemetry.rs
Due: build-rust-builder

style: reformat telemetry/metrics imports and call formatting
  src/telemetry.rs
  src/telemetry/metrics.rs
Due: build-rust-builder

feat: add Phase 4 metrics exporter, instruments, and hooks
  src/docker.rs
  src/main.rs
  src/registry.rs
  src/telemetry.rs
  src/telemetry/metrics.rs
  src/toolchain/proxy.rs
  src/toolchain/sidecar.rs
Due: build-rust-builder

fix: update telemetry metrics API and use crate::telemetry refs
  src/docker.rs
  src/telemetry.rs
  src/telemetry/metrics.rs
  src/toolchain/proxy.rs
  src/toolchain/sidecar.rs
Due: build-rust-builder

style: reformat telemetry metrics call formatting
  src/telemetry.rs
  src/telemetry/metrics.rs
Due: build-rust-builder

fix: remove unused imports and drop with_resource for stdout exporter
  src/telemetry/metrics.rs
Due: build-rust-builder

fix: pub telemetry::metrics and use stdout exporter for dev metrics
  src/telemetry.rs
  src/telemetry/metrics.rs
Due: build-rust-builder

fix: remove .expect() on MetricsExporterBuilder::build
  src/telemetry/metrics.rs
Due: build-rust-builder

fix: remove dev stdout metrics exporter to avoid SDK version clash
  src/telemetry.rs
  src/telemetry/metrics.rs
Due: build-rust-builder

fix: rename SIDEcars_* statics to SIDECARS_*
  src/telemetry/metrics.rs
Due: build-rust-builder

feat: propagate OpenTelemetry trace context into shim execs
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: use local OTEL header extractor/injector and import trait
  src/toolchain/proxy.rs
Due: build-rust-builder

style: inline propagator.inject_context invocation
  src/toolchain/proxy.rs
Due: build-rust-builder

style: format propagator.extract call to multi-line arguments
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: set span parent then call enter instead of chaining set_parent
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: prevent propagator/span lifetime errors by inlining usage
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: allow unused_mut for spawn_args when otel feature disabled
  src/toolchain/proxy.rs
Due: build-rust-builder

refactor: make spawn_args immutable in proxy handler
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: make spawn_args mutable to fix borrow error
  src/toolchain/proxy.rs
Due: build-rust-builder

ci: add otel-golden-stdout job and README telemetry section
  .gitlab-ci.yml
  README.md
Due: build-rust-builder, lint-dockerfiles

ci: add otel golden stdout CI script and otel documentation
  ci/otel-golden-stdout.sh
  docs/otel.md
Due: none

feat: propagate TRACEPARENT into curl as traceparent header
  src/toolchain/shim.rs
  tests/unit_shim_writer.rs
Due: build-rust-builder

fix: set OTel span error statuses, add metric units and BSP defaults
  src/lock.rs
  src/telemetry.rs
  src/telemetry/metrics.rs
  src/toolchain/proxy.rs
Due: build-rust-builder

style: rename started to _started to avoid unused variable warning
  src/toolchain/sidecar.rs
Due: build-rust-builder

fix: update otel API usage (units, span status, install_batch)
  src/lock.rs
  src/telemetry.rs
  src/telemetry/metrics.rs
  src/toolchain/proxy.rs
Due: build-rust-builder

fix: add dev metrics stderr/file exporter and mark failing spans
  src/telemetry.rs
  src/toolchain/sidecar.rs
Due: build-rust-builder

fix: use MetricsExporter::new and remove unused io::Write import
  src/telemetry.rs
Due: build-rust-builder

style: reformat build_metrics_provider for readability
  src/telemetry.rs
Due: build-rust-builder

fix: bump opentelemetry-stdout to 0.5 to match opentelemetry_sdk 0.24
  Cargo.toml
Due: build-rust-builder

fix: use MetricsExporterBuilder to build stdout exporter
  src/telemetry.rs
Due: build-rust-builder

fix: avoid unused 'started' var and tidy telemetry/proxy formatting
  src/registry.rs
  src/telemetry.rs
  src/toolchain/proxy.rs
Due: build-rust-builder

docs: add OpenTelemetry exporters, propagation, sampling, CI notes
  README.md
Due: none

refactor: rename docs/otel.md to README-opentelemetry.md and update refs
  README.md
Due: none

docs: rename otel.md to README-opentelemetry.md
  docs/README-opentelemetry.md
Due: none

build: add CARGO_FLAGS and inject --features otel-otlp into cargo calls
  Makefile
Due: none

refactor: simplify env var checks into single-line expressions
  src/telemetry.rs
Due: build-rust-builder

chore: export safe OpenTelemetry env defaults in Makefile
  Makefile
Due: none

feat: emit concise telemetry OTLP/metrics logs when --verbose
  src/main.rs
  src/telemetry.rs
Due: build-rust-builder

feat: set OTEL runtime defaults and use CARGO_FLAGS in aifo-coder
  aifo-coder
Due: none

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml
