Repository aguindehi/aifo-coder-rs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-rust-builder, lint-dockerfiles

Path conditions:
  build-rust-builder: any of: Dockerfile, Cargo.toml, build.rs, .cargo/**/*, rust-toolchain.toml, src/**/*, toolchains/**/*, .gitlab-ci.yml
  lint-dockerfiles: any of: Dockerfile, toolchains/**/Dockerfile, .gitlab-ci.yml

feat: add --all support to run baseline/deep/combo matrices
  src/cli.rs
  src/main.rs
  src/support.rs
Due: build-rust-builder

fix: fallback to latest for empty TS_TOOLCHAIN_TAG used in image tags
  Makefile
Due: none

fix: cast ExitCode to u8 using `as` instead of `into()`
  src/support.rs
Due: build-rust-builder

fix: use ExitCode::exit_code() instead of as u8
  src/support.rs
Due: build-rust-builder

fix: convert ExitCode into u8 instead of calling .code()
  src/support.rs
Due: build-rust-builder

test: update toolchain tests to expect typescript kind and ts image
  tests/unit_toolchain_mappings.rs
Due: none

fix: use ExitCode::SUCCESS/FAILURE instead of .exit_code()
  src/support.rs
Due: build-rust-builder

fix: set TMPDIR and --target-dir for macOS cross
  Makefile
Due: none

build: set CARGO_TARGET_DIR and git envs for macOS cross tests
  Makefile
Due: none

fix: set CARGO_TARGET_DIR=/var/tmp/aifo-target for cargo nextest
  Makefile
Due: none

fix: unset CARGO_TARGET_DIR when running macOS cross tests
  Makefile
Due: none

feat: add --quiet and --base/--deep/--combo support flags
  src/cli.rs
  src/main.rs
  src/support.rs
Due: build-rust-builder

style: wrap TypeScript assert in unit test
  tests/unit_toolchain_mappings.rs
Due: none

style: reformat Agent::Support match arm and wrap long lines
  src/main.rs
Due: build-rust-builder

fix: use 'command -v' to check tools in combo probe
  src/support.rs
Due: build-rust-builder

fix: add quiet: false to Cli test initializer
  src/fork_args.rs
Due: build-rust-builder

fix: don't disable support animation; leave AIFO_SUPPORT_ANIMATE set
  src/support.rs
Due: build-rust-builder

fix: print support mode preface after startup banner
  src/main.rs
  src/support.rs
Due: build-rust-builder

fix: remove unused variable use_err in support.rs
  src/support.rs
Due: build-rust-builder

test: run support in --combo mode
  tests/int_support_spec.rs
Due: none

style: remove trailing whitespace in src/support.rs
  src/support.rs
Due: build-rust-builder

style: remove extra blank lines in support.rs
  src/support.rs
Due: build-rust-builder

fix: define use_err earlier and remove duplicate in support.rs
  src/support.rs
Due: build-rust-builder

fix: define use_err in run_support and remove duplicate declaration
  src/support.rs
Due: build-rust-builder

style: reformat run_support calls for readability
  src/main.rs
Due: build-rust-builder

chore: ignore hadolint DL3016 for TypeScript npm install
  toolchains/ts/Dockerfile
Due: build-rust-builder, lint-dockerfiles

build: pin OPENHANDS_VERSION to 1.0.7-cli in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: enable pip pre-releases for openhands installs in Dockerfile
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: fallback to agent-server by creating openhands wrapper
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: write openhands wrapper using echo to avoid shell error
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: replace printf with grouped echo in Dockerfile wrapper creation
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use runtime python wrapper for openhands to avoid agent-server exec
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: create OpenHands wrapper in separate RUN via heredoc
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: write openhands wrapper with printf and use 1>&2
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: add venv-level OpenHands wrapper with exec fallbacks
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: prevent openhands wrapper recursion and silence Python tracebacks
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: use real /usr/local/bin/openhands wrapper instead of symlink
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: prefer agent_server and add detection-based OpenHands wrappers
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: enforce CLI-only openhands wrappers and remove server fallback
  Dockerfile
Due: build-rust-builder, lint-dockerfiles

fix: install OpenHands CLI via uv tool, symlink and remove wrappers
  Dockerfile
Due: build-rust-builder, lint-dockerfiles
